{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}


<section id="about-header" class="jumbotron" data-stellar-background-ratio=".5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>We're bringing the world's code to life</h2>
        <p>Discovering, collaborating and working with code should be simple. We're on a mission to empower anyone to build amazing things with software.
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-logos">
  <div class="container">
    <div class="row">
      <a href="http://venturebeat.com/2013/10/30/dont-want-to-reinvent-the-wheel-runnables-library-lets-devs-copy-and-paste-code/" class="logo venturebeat" target="_blank"></a>
      <a href="http://www.forbes.com/sites/anthonykosner/2013/10/02/runnable-aims-to-be-the-youtube-of-code-only-with-less-cat-videos/" class="logo forbes" target="_blank"></a>
      <a href="http://techcrunch.com/2013/10/02/runnable-wants-to-become-the-youtube-of-code/" class="logo techcrunch" target="_blank"></a>
    </div><!--/.row-->
    <div class="row">
      <a href="http://www.wired.com/wiredenterprise/2013/10/runnable/" class="logo wired" target="_blank"></a>
      <a href="http://gigaom.com/2013/10/02/startup-runnable-fancies-itself-as-the-youtube-of-code/" class="logo gigaom" target="_blank"></a>
      <a href="http://pandodaily.com/2013/10/30/runnable-raises-2m-to-centralize-all-the-worlds-open-source-code/" class="logo pandodaily" target="_blank"></a>
    </div><!--/.row-->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <blockquote>
          <p>Runnable appears to have stumbled on a much needed solution to a very real problem. The timing couldn’t be better, in terms of the shift in the way developers work and the availability of the underlying infrastructure required to run such a platform.
        </blockquote>
        <h3 class="read-the-article">
          <a href="http://pandodaily.com/2013/10/30/runnable-raises-2m-to-centralize-all-the-worlds-open-source-code/" target="_blank">Read The Article</a>
        </h3>
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-stack" class="jumbotron">
  <div class="container">
    <img class="amazon" data-stellar-ratio="2.5" data-stellar-horizontal-offset="200" src="assets/images/stack-amazon.png">
    <img class="node" data-stellar-ratio="1.5" data-stellar-horizontal-offset="200" src="assets/images/stack-node.png">
    <img class="codeigniter" data-stellar-ratio="2" data-stellar-horizontal-offset="200" src="assets/images/stack-codeigniter.png">
    <img class="diamond" data-stellar-ratio="3" data-stellar-horizontal-offset="200" src="assets/images/stack-diamond.png">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4">
        <h2>Node.JS, Docker and CoffeeScript</h2>
        <p>We think Javascript is the new x86, Docker the DevOps platform of the future and AWS the basic building blocks for the web.
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-satellite" class="jumbotron">
  <div class="container">
    <div class="row">
      <h2>Located in the Heart of Silicon Valley.</h2>
      <p>We're in Palo Alto, one block away from University Ave.
    </div><!--/.row-->
  </div><!--/.container-->
</section>

<section id="about-team">
  <div class="container">
    <h2>Team Runnable</h2>
    <ul>
      <li>
        <img src="assets/images/team-yash.png" height="120" width="120">
        <h3>Yash Kumar</h3>
        <p>CEO/Engineer
      <li>
        <img src="assets/images/team-tejesh.png" height="120" width="120">
        <h3>Tejesh Mehta</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-sundip.png" height="120" width="120">
        <h3>Sundip Patel</h3>
        <p>Product/Engineer
      <li>
        <img src="assets/images/team-henry.png" height="120" width="120">
        <h3>Henry Allen-Tilford</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-praful.png" height="120" width="120">
        <h3>Praful Rana</h3>
        <p>Product/Engineer
      <li>
        <img src="assets/images/team-tony.png" height="120" width="120">
        <h3>Tony Li</h3>
        <p>Designer
      <li>
        <img src="assets/images/team-anand.png" height="120" width="120">
        <h3>Anand Patel</h3>
        <p>Engineer
      <li>
        <img src="assets/images/team-casey.png" height="120" width="120">
        <h3>Casey Flynn</h3>
        <p>Engineer
    </ul>
  </div><!--/.container-->
</section>

<section id="about-contact">
  <div class="container">
    <address>
      <strong>Runnable Headquarters <wbr>(InitMe, Inc)</strong>
      <br>
      459 Hamilton Ave, Suite 304
      <br>
      Palo Alto, CA 94301
      <br>
      <a href="tel:1-866-216-4762">(866) 216-4762</a>
    </address>
    <form id="about-contact-body" method="post" action="" class="row">
      {{view "contact_form"}}
      <h4>
        Having trouble with something?
        <a href="http://support.runnable.com/runnable/questions/popular">Don’t forget the FAQ</a>.
      </h4>
      <p>If you’re having trouble figuring something out, check out the FAQ Section to see if your question has already been answered. There are plenty of other developers that are sharing information on the FAQ boards. Other than that, feel free to give us a shout!
    </form>
  </div><!--/.container-->
</section>



{{view "footer_view" model=user context=.}}