{{view "app_user" model=user}}
{{view "header_view" model=user context=. nocreate=true }}
{{view "global_message"}}

<section id="providers-header" class="hero">
  <div class="bubbles-container">
    <div class="bubbles">
      <img class="hero-animate bubble small" src="/images/hero-logos/search.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/world.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/connection.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/heart.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/search.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/world.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/connection.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/heart.svg">
    </div>
  </div>
  <div id="providers-hero-content">
    <div class="container">
      <div class="row">
        <div id="providers-text" class="col-sm-4">
          <h2><label>New!</label>Add your Code Channel</h2>
          <p>Use your API, service, or project on Runnable. Make it easy for other developers to run, edit and share your code examples and projects.</p>
          <button class="orange">Add Your Code Channel</button>
        </div>
        <div id="providers-computer" class="col-sm-8">
          <img src="/images/providers-hero.png" height="418" width="727">
        </div>
      </div>
    </div>
  </div>
</section>

<div id="providers-awareness" class="providers-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 providers-image">
        <img src="/images/providers-awareness.png" height="280" width="364">
      </div>
      <div class="col-sm-7">
        <h2>Move the needle on awareness and adoption rates</h2>
        <p>Enable organic discovery and adoption for your API, library or project. Add code that shows how your product or service solves a problem for developers. They'll find it, run it and hack away at it instantly.</p>
      </div>
    </div>
  </div>
</div>

<div id="providers-documentation" class="providers-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h2>More intuitive than documentation</h2>
        <p>Developers hate scanning through documentation. Give them easy-to-understand code that they can modify and run without leaving the browser.</p>
      </div>
      <div class="col-sm-5 providers-image">
        <img src="/images/providers-documentation.png" height="372" width="459">
      </div>
    </div>
  </div>
</div>

<div id="providers-insights" class="providers-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 providers-image">
        <img src="/images/providers-insights.png" height="280" width="364">
      </div>
      <div class="col-sm-7">
        <h2>Discover key insights via analytics</h2>
        <p>Learn the full picture on how developers want to use your API, library or project thru metrics collected from real code interactions on Runnable.</p>
      </div>
    </div>
  </div>
</div>

<section id="providers-register" class="hero">
  <div class="bubbles-container">
    <div class="bubbles">
      <img class="hero-animate bubble small" src="/images/hero-logos/search.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/world.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/connection.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/heart.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/search.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="hero-animate bubble large reverse"  src="/images/hero-logos/globe.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/world.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/connection.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/heart.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/search.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/world.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/connection.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/heart.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/search.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/world.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/cog.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="hero-animate bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="hero-animate bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="hero-animate bubble small" src="/images/hero-logos/connection.svg">
      <img class="hero-animate bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="hero-animate bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="hero-animate bubble small reverse" src="/images/hero-logos/heart.svg">
    </div>
  </div>
  {{view "publish_request_form" id="providers-register-form"}}
</section>

{{view "footer_view" model=user context=.}}
