<div class="container">
  <article class="span9">
    <section class="title">
      {{view "vote_button_view" model=project}}
      {{view "project_title_view" model=project context=.}}
    </section>
    {{!if something}}
    {{view "publish_warning_view" model=project}}
    {{!if}}
    <section class="actions">
      {{view "run_button" model=project}}
      {{view "save_button" model=project}}
      {{view "fork_button" model=project}}
      {{view "download_button" model=project}}
      {{view "edit_button" model=project}}
    </section>
  </article>
  <aside class="span3 last">

    <p><a href="" class="btn-secondary block">New code example</a></p>

    <section class="module">
      {{view "project_owner" model=project}}
      {{view "project_stats" model=project}}
    </section>

    <section class="module tags">
      <h3>Tags</h3>
      {{view "project_tags_list" model=project}}
      {{view "project_new_tag_form" model=project}}
    </section>

    <section class="module">
      <h3>Related examples</h3>
      <nav class="related-nav">
        <ul>
          <li>
            <button class="btn-vote">833</button>
            <a href="">Login auth using sessions in express - Node.js</a>
          </li>
          <li>
            <button class="btn-vote">833</button>
            <a href="">Login auth using sessions in express - Node.js</a>
          </li>
          <li>
            <button class="btn-vote">2</button>
            <a href="">One liner</a>
          </li>
        </ul>
      </nav>
    </section>

  </aside>
</div>