{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}
{{view "publish_warning" model=image containerid=container.id}}

<section id="main" class="container">
  <div id="project-details" class="row">
    <div class="col-sm-9">
      <div class="page-title clearfix">
        {{view "runnable_title" model=container}}
      </div>
      {{view "runnable_description" model=container}}
      <div class="main-controls">
        {{view "dropdown_run_button" context=.}}
        {{view "save_button" collection=defaultFiles}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      {{view "code_editor" context=. editmode=true model=container}}
      {{view "terminal" model=container}}
    </div>
    <ul id="sidebar" class="col-sm-3">
      {{#if isVerified}}
      <li class="services">
      <h3 class="widget-title">API Keys</h3>
        {{view "runnable_specifications" model=container collection=specifications context=. editmode=isVerified}}
      </li>
      {{/if}}
      <li class="tags">
        <h3 class="widget-title">Tags</h3>
        {{view "runnable_tags" model=container editmode=isVerified}}
        {{#if isVerified}}
        {{view "runnable_new_tag_form" model=container}}
        {{/if}}
      </li>
    </ul>
  </div>
</section>

{{view "footer_view" model=user context=.}}
