{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
<section class="content">
  <div class="container">
    <article class="span9">
      <section class="title">
        {{view "runnable_title" model=container}}
      </section>
      {{#if isVerified}}
      {{view "publish_warning" model=image containerid=container.id}}
      {{/if}}
      <section class="actions">
        {{view "run_button" model=container}}
        {{view "save_button" collection=defaultFiles}}
        {{!view "download_button" model=container}}
      </section>
      {{view "code_editor" context=. editmode=true model=container}}
      {{view "terminal" model=container}}
    </article>
    <aside class="span3 last runnable-sidebar">
      {{! <div class="module"> }}
        {{!view "new_example_button"}}
      {{! </div> }}
      <section class="module display-none">
        {{view "runnable_owner" model=container}}
      </section>
      <section class="module">
        <h3>Service</h3>
        {{#if specification}}
        {{view "service" model=specification collection=specifications editmode=isVerified}}
        {{else}}
        {{#if isVerified}}
        {{view "add_service" model=container collection=specifications}}
        {{/if}}
        {{/if}}
      </section>
      <section class="module tags">
        <h3>Tags</h3>
        {{view "runnable_tags" model=container editmode=isVerified}}
        {{#if isVerified}}
        {{view "runnable_new_tag_form" model=container}}
        {{/if}}
      </section>
    </aside>
  </div>
</section>
{{view "footer_view" model=user context=.}}