{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}
{{view "publish_warning" model=container parentid=image.attributes._id parentowner=image.attributes.owner}}

<main class="container">
  <div class="row">
    <section id="project-details" class="col-sm-9">
      <div class="page-title clearfix">
        {{view "runnable_title" model=container}}
        {{view "runnable_stats" model=container nostats=true}}
      </div>
      {{view "runnable_description" model=container}}
      <div class="main-controls clearfix">
        {{view "dropdown_run_button" context=. editmode=true}}
        {{view "save_button" collection=defaultFiles}}
      </div>
    </section>
  </div>

  <div class="row">
    <section class="col-sm-9">
      {{view "code_editor" context=. editmode=true model=container}}
      {{view "terminal" model=container}}
    </section>
    <ul id="sidebar" class="col-sm-3">
      {{#if isVerified}}
      <li class="services">
        <h3 class="widget-title">API Keys</h3>
          {{view "runnable_specifications" model=container collection=specifications context=. editmode=isVerified}}
      {{/if}}
      <li class="tags">
        <h3 class="widget-title">Tags</h3>
        {{view "runnable_tags" model=container editmode=isVerified}}
        {{#if isVerified}}
        {{view "runnable_new_tag_form" model=container}}
        {{/if}}
    </ul>
  </div>
</main>

{{view "footer_view" model=user context=.}}
