{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}
{{view "owner_warning" model=image containerid=container.id}}

<section id="main" class="container">
  <div id="project-details" class="row">
    <div class="col-sm-9">
      <div class="page-title clearfix">
        {{view "vote_button" model=image}}
        {{view "runnable_title" model=image}}
      </div>
      {{view "runnable_description" model=image}}
      <div class="main-controls">
        {{!   --view "run_button" model=container collection=specifications context=.--   }}

        <div class="btn-group">
          <button class="btn green">
            <img src="/images/button-run.png" height="13" width="10">
            <span>Run</span>
            {{view "implement_link"
              model=specification
              collection=context.implementations
              containerid=model.id
              classname="hide"}}
          </button>
          <button class="btn green run-options">
            <i class="caret"></i>
          </button>
        </div>

        {{view "fork_button" collection=defaultFiles model=container}}
      </div>
    </div>
    {{view "runnable_owner" model=image.owner model_id=image.owner.id model_name='user' created=image.attributes.created image=image}}
  </div>
  <div class="row">
    <div class="col-sm-9">
      {{view "code_editor" context=. editmode=false model=image}}
      {{view "terminal" model=container}}
    </div>
    <ul id="sidebar" class="col-sm-3">
      {{#if image.attributes.specification}}
      <li class="services">
      <h3 class="widget-title">API Keys</h3>
        {{view "runnable_specifications" model=container collection=specifications context=. editmode=false}}
      </li>
      {{/if}}
      {{#if image.attributes.tags}}{{#if image.attributes.tags.length}}
      <li class="tags">
        <h3 class="widget-title">Tags</h3>
        <ul class="clearfix">
          {{#each image.attributes.tags}}
          <li>
          {{view "tag_link" name=name}}
          </li>
          {{/each}}
        </ul>
      </li>
      {{/if}}{{/if}}
      {{#if related.length}}
      <li class="related-code">
        <h3 class="widget-title">Related Code</h3>
        <ul>
          {{#each related.models}}
          {{view "runnable_item_small" model=.}}
          {{/each}}
        </ul>
      </li>
      {{/if}}
    </ul>
  </div>
</section>

{{view "footer_view" model=user context=.}}
