<div class="container">
  <article class="span9">
    <section class="title">
      {{view "vote_button" model=image}}
      {{view "runnable_title" model=image}}
    </section>
    <section class="actions">
      {{view "run_button" model=container collection=defaultFiles}}
      {{#if_eq image.attributes.owner compare=user.id}}
      {{view "edit_button" model=container containerid=container.id}}
      {{else}}
      {{view "fork_button" collection=defaultFiles containerid=container.id}}
      {{/if_eq}}
      {{!view "download_button" model=container}}
    </section>
    {{view "code_editor" context=.}}
  </article>
  <aside class="span3 last runnable-sidebar">

    <!--<div class="module">
      {{! {{view "new_example_button"}} }}
    </div>-->

    <section class="module display-none">
      {{view "runnable_owner" model=image}}
      {{!view "project_stats" model=image}}
    </section>

    {{#if image.attributes.tags}}
    {{#if image.attributes.tags.length}}
    <section class="module tags">
      <h3>Tags</h3>
      {{view "runnable_tags" model=image editMode=editMode}}
    </section>
    {{/if}}
    {{/if}}

    {{#if related.length}}
    <section class="module">
      <h3>Related code</h3>
      <nav class="related-nav">
        <ul>
          {{#each related.models}}
          {{view "runnable_item_small" model=.}}
          {{/each}}
        </ul>
      </nav>
    </section>
    {{/if}}
  </aside>
</div>