{{#if editMode}}
<h1>EDIT MODE</h1>
{{/if}}
<div class="container">
  <article class="span9">
    <section class="title">
      {{view "vote_button" model=image}}
      {{view "project_title" model=image}}
    </section>
    {{#if projectJSON.unpublished}}
    {{view "publish_warning" model=image}}
    {{/if}}
    <section class="actions">
      {{view "run_button" model=image}}
      {{view "save_button" model=image}}
      {{view "fork_button" model=image}}
      {{view "download_button" model=image}}
      {{#unless editMode}}
      {{#if_eq projectJSON.owner compare=user.id}}
      {{view "edit_button" model=image}}
      {{/if_eq}}
      {{/unless}}
    </section>
    {{! <div class="code-container">
    </div> }}
    {{view "code_editor" model=container}}
  </article>
  <aside class="span3 last">

    <div class="module">
      {{view "new_example_button"}}
    </div>

    <section class="module display-none">
      {{view "project_owner" model=image}}
      {{view "project_stats" model=image}}
    </section>

    {{#if projects.attributes.tags}}
    {{#if projects.attributes.tags.length}}
    <section class="module tags">
      <h3>Tags</h3>
      {{view "project_tags" model=image editMode=editMode}}
      {{#if editMode}}
      {{view "project_new_tag_form" model=image}}
      {{/if}}
    </section>
    {{/if}}
    {{/if}}

    {{#if related.length}}
    <section class="module">
      <h3>Related examples</h3>
      <nav class="related-nav">
        <ul>
          {{#each related.models}}
          {{view "project_item_small" model=.}}
          {{/each}}
        </ul>
      </nav>
    </section>
    {{/if}}
  </aside>
</div>