{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}
<div class="container">
  <h1 class="col-sm-12">Create a new example</h1>
  {{view "channel_cards" collection=channels basehref="/new"}}
</div>
{{view "footer_view" model=user context=.}}