{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<main id="new" class="container">
  <div class="row">
    <h1 class="col-sm-12">Create a New Runnable</h1>
  </div>
  {{#if lock}}
    {{view "channel_cards" collection=channels}}
  {{else}}
    {{view "channel_cards" collection=channels basehref="/new"}}
  {{/if}}
</main>

{{view "footer_view" model=user context=.}}