{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<main id="tags-main" class="container">
  <div class="row">
    <h1 class="col-sm-12">Search Results</h1>
  </div>
  <div id="feed" class="row">
    {{#if images.length}}
    {{view "runnable_list" collection=images}}
    {{else}}
      <h4>No Results</h4>
    {{/if}}
  </div>
</main>

{{view "footer_view" model=user context=.}}