{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<div class="container">
  {{view "dashboard_profile" model=user}}

  <section id="dashboard">
    <div class="dropdown">
      <button type="button" class="dropdown">
        <div class="filter-option pull-left">Recent </div>
        <div class="caret"></div>
      </button>
      <select>
        <option value="Copies">Copies
        <option value="Recent">Recent
        <option value="Runs">Runs
        <option value="Views">Views
      </select>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#"><span>25</span> Published</a>
      <li><a href="#"><span>2</span> Drafts</a>
    </ul>
    <ul id="profile-content">
      {{view "dashboard_runnables" collection=published}}
    </ul>
    <ul id="profile-content">
      {{view "dashboard_runnables" collection=drafts}}
    </ul>
  </section>
</main>

{{view "footer_view" model=user context=.}}
