{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<section class="container" id="dashboard">
  <div class="row">
    <h1 class="page-title">
      <div class="icon-container">
        <img src="http://www.gravatar.com/avatar/5776cf8b02fedc16e69a131557be32cf?s=64" alt="erp" class="hoverZoomLink">
      </div>
      <span>Username</span>
      <span class="description">My actual name</span>
    </h1>
  </div>

  <div class="row" id="profile-content-filters">
    <div class="dropdown">
      <button type="button" class="dropdown">
        <div class="filter-option pull-left">Recent</div>&nbsp;
        <div class="caret"></div>
      </button>
      <select>
        <option value="Copies">Copies</option>
        <option value="Recent">Recent</option>
        <option value="Runs">Runs</option>
        <option value="Views">Views</option>
      </select>
    </div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Published</a>
      </li>
      <li>
        <a href="#">Drafts</a>
      </li>
    </ul>
  </div>

  <ul id="profile-content" class="row">
{{!--     <li>
      <div class="btn-group">
        <button class="btn silver active">Published</button>
        <button class="btn silver">Drafts</button>
      </div>
    </li> --}}
    {{view "dashboard_item_view"}}
    {{view "dashboard_item_view"}}
    {{view "dashboard_item_view"}}
  </ul>
</section>

{{view "footer_view" model=user context=.}}