{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
<div class="container">
  <h1>Dashboard</h1>
  <ul class="nav nav-tabs">
    {{#if verifiedUser}}
    <li{{#if publishedActive}} class="active"{{/if}}>
      <a href="#published">Published</a>
    </li>
    {{/if}}
    <li{{#if draftsActive}} class="active"{{/if}}>
      <a href="#drafts" class="selected">Drafts</a>
    </li>
  </ul>
  <div class="tab-content">
    {{#if verifiedUser}}
    <div class="tab-pane fade{{#if publishedActive}} active in{{/if}} in" id="published">
      {{view "published_table" collection=published}}
    </div>
    {{/if}}
    <div class="tab-pane fade{{#if draftsActive}} active in{{/if}}" id="drafts">
      {{view "drafts_table" collection=drafts}}
    </div>
  </div>
</div>

{{view "footer_view" model=user context=.}}