{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<div class="container">
  {{view "dashboard_profile" model=user editmode=true}}

  <section id="dashboard">
    <div class="dropdown">
      <button type="button" class="dropdown">
        <div class="filter-option pull-left">Recent </div>
        <div class="caret"></div>
      </button>
      <select>
        <option value="Recent" selected>Recent
        <option value="Copies">Copies
        <option value="Runs">Runs
        <option value="Views">Views
      </select>
    </div>
    {{view "dashboard_runnables" classname="dashboard-runnables" collection=published editmode=false}}
  </section>
</main>

{{view "footer_view" model=user context=.}}
