{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}
{{view "publish_warning" model=container parentid=image.attributes._id parentowner=image.attributes.owner}}

<main class="project-container">
  <section id="project-details" class="container">

    <div class="row">
      <div class="col-sm-9">
        <div class="page-title">
          {{view "runnable_title" model=container}}
          {{view "project_tags" model=container edit=true}}
        </div>
        <div class="main-controls">
          {{view "save_button" collection=defaultFiles}}
          {{view "public_toggle" model=container}}
        </div>
      </div>
      {{view "project_url" model=image}}
    </div>

  </section>

  <section id="project">
    {{view "code_editor" context=. editmode=true model=container}}
    {{view "rebuild_loader"}}
  </section>
</main>

{{view "footer_view" model=user context=.}}
