{{view "header_view" model=user context=. nosearch=true}}

<section id="home-header" class="hero">
  <div class="bubbles-container">
    <div class="bubbles">
      <img class="bubble small"     src="/images/hero-logos/search.svg"         />
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg"       />
      <img class="bubble large"     src="/images/hero-logos/lightbulb.svg"      />
      <img class="bubble small reverse"  src="/images/hero-logos/cog.svg"           />
      <img class="bubble medium"    src="/images/hero-logos/chat-cutout.svg"      />
      <img class="bubble large reverse"  src="/images/hero-logos/globe.svg"         />
      <img class="bubble small"     src="/images/hero-logos/world.svg"        />
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg"        />
      <img class="bubble large"     src="/images/hero-logos/cog.svg"          />
      <img class="bubble small reverse"  src="/images/hero-logos/codeigniter.svg"       />
      <img class="bubble medium"    src="/images/hero-logos/arrow.svg"        />
      <img class="bubble large reverse"  src="/images/hero-logos/chat-bubble.svg"       />
      <img class="bubble small"     src="/images/hero-logos/connection.svg"       />
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg"         />
      <img class="bubble large"     src="/images/hero-logos/expression-engine.svg"  />
      <img class="bubble small reverse"  src="/images/hero-logos/heart.svg"         />
      <img class="bubble small"     src="/images/hero-logos/search.svg"         />
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg"       />
      <img class="bubble large"     src="/images/hero-logos/lightbulb.svg"      />
      <img class="bubble small reverse"  src="/images/hero-logos/cog.svg"           />
      <img class="bubble medium"    src="/images/hero-logos/chat-cutout.svg"      />
      <img class="bubble large reverse"  src="/images/hero-logos/globe.svg"         />
      <img class="bubble small"     src="/images/hero-logos/world.svg"        />
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg"        />
      <img class="bubble large"     src="/images/hero-logos/cog.svg"          />
      <img class="bubble small reverse"  src="/images/hero-logos/codeigniter.svg"       />
      <img class="bubble medium"    src="/images/hero-logos/arrow.svg"        />
      <img class="bubble large reverse"  src="/images/hero-logos/chat-bubble.svg"       />
      <img class="bubble small"     src="/images/hero-logos/connection.svg"       />
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg"         />
      <img class="bubble large"     src="/images/hero-logos/expression-engine.svg"  />
      <img class="bubble small reverse"  src="/images/hero-logos/heart.svg"         />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-content">
          <h1>Discover <div>
            <ul class="texts" style="display: none;">
              <li>APIs</li>
              <li>Services</li>
              <li>Libraries</li>
              <li>Modules</li>
              <li>Frameworks</li>
              <li>Platforms</li>
            </ul>
          </div> through code</h1>
          <p>Full-stack code anyone can run from their browser</p>
          {{view "searchbar" id="searchbox" divclass="input-group" inputclass="form-control" placeholder="Search for an Example" hasbutton=true}}

        </div>
      </div>
    </div>
  </div>
</section>

<nav id="framework-filters" class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">Select a Framework</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#each categories.models}}
        {{#with attributes}}
        {{view 'item_link' href=link text=name activeClass="yoyoma"}}
        {{/with}}
        {{/each}}
      </ul>
    </div>
  </div>
</nav>

<section id="cards" class="container">
  <div class="row">
    {{#each channels.models}}
    {{#with attributes}}
    <div class="col-sm-4">
      <a href="/{{name}}" class="card">
        {{view 'channel_image' name=name height="24" width="22"}}
        <div class="count">{{count}}</div>
        <div class="description">
          <h2>{{name}}</h2>
          {{#if description}}
          <p>{{description}}</p>
          {{/if}}
        </div>
      </a>
    </div>
    {{/with}}
    {{/each}}
  </div>
  <br/>
  {{! <div class="row">
    <div class="col-sm-12 load-more">
      <a href="#"><span>Load More</span></a>
    </div>
  </div> }}
</section>
{{view "footer_view" model=user context=.}}
