{{view "header_view" model=user context=.}}
<div class="content">
  <div class="container">
    <h1>Selected category</h1>
    <div class="span3">
      <nav class="cat-nav">
        {{#each categories.models}}
        {{#with attributes}}
        <a href="">{{name}}</a>
        {{/with}}
        {{/each}}
        <a href="" class="selected">Selected category</a>
        <a href="">Browse all code</a>
      </nav>
    </div>
    <div class="span9 last">
      <nav class="tag-box">
        {{#each channels.models}}
        {{#with attributes}}
        <a href="">
          <figure><img src="/images/channels/codeigniter.png" alt=""></figure>
          <span class="tag-count">87</span>
          <h4>{{name}}</h4>
          <p class="tag-desc">{{description}}</p>
        </a>
        {{/with}}
        {{/each}}
        <a href="">
          <figure><img src="/images/channels/nodejs.png" alt=""></figure>
          <span class="tag-count">1,236</span>
          <h4>Imagine this is an extra long name</h4>
          <p class="tag-desc">Then this would be an extra long description. Send money, make online payments, receive money. It's great.</p>
        </a>
        <a href="">
          <figure></figure>
          <span class="tag-count">3</span>
          <h4>Short</h4>
          <p class="tag-desc">With no icon.</p>
        </a>
      </ul>
    </div>
  </div>
</div>
{{view "footer_view" model=user context=.}}