{{view "app_user" model=user}}
{{view "header_view" model=user context=. nosearch=true}}
{{view "global_message"}}

<section id="home-header" class="hero in">
  {{view "global_ad"}}
  <div class="bubbles-container">
    <div class="bubbles">
      <img class="bubble small" src="/images/hero-logos/search.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="bubble small" src="/images/hero-logos/world.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="bubble large" src="/images/hero-logos/cog.svg">
      <img class="bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="bubble small" src="/images/hero-logos/connection.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="bubble small reverse" src="/images/hero-logos/heart.svg">
      <img class="bubble small" src="/images/hero-logos/search.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="bubble small" src="/images/hero-logos/world.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="bubble large" src="/images/hero-logos/cog.svg">
      <img class="bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="bubble small" src="/images/hero-logos/connection.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="bubble small reverse" src="/images/hero-logos/heart.svg">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          Run
          <ul id="channel-text" class="out">
            <li>Your
            {{#each channel_buttons}}
            <li>{{title}}
            {{/each}}
          </ul>
          Code Online
        </h1>
        <h2>Choose Your Stack to Get Started</h2>
        <ul id="channel-images">
          {{#each channel_buttons}}
          <li><a href="/new/{{name}}" data-title="{{name}}">{{view 'channel_image' name=name}}</a>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="glyphicons chevron-right"></div>
</section>

{{view 'feed'
  callout           = "true"
  channels          = channels
  feed              = feed
  filteringChannels = filteringChannels
  filterMode        = "home"
  orderByParam      = orderByParam
}}

{{view "footer_view" model=user context=. domain=user.app.attributes.domain}}
