{{view "app_user" model=user}}
{{view "header_view" model=user context=. nosearch=true}}
{{view "global_message"}}

<section id="home-header" class="hero">
  <div class="bubbles-container">
    <div class="bubbles">
      <img class="bubble small" src="/images/hero-logos/search.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="bubble small" src="/images/hero-logos/world.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="bubble large" src="/images/hero-logos/cog.svg">
      <img class="bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="bubble small" src="/images/hero-logos/connection.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="bubble small reverse" src="/images/hero-logos/heart.svg">
      <img class="bubble small" src="/images/hero-logos/search.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="bubble small" src="/images/hero-logos/world.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="bubble large" src="/images/hero-logos/cog.svg">
      <img class="bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="bubble small" src="/images/hero-logos/connection.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="bubble small reverse" src="/images/hero-logos/heart.svg">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hero-content">
          <img src="/images/runnable-logo.svg">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    {{view "feed_filters" collection=channels}}
    <section class="col-sm-9">
      <nav class="btn-group">
        <button class="silver active">Trending</button>
        <button class="silver">Popular</button>
      </nav>
      <form>
        <input class="form-control" placeholder="search">
        <button class="silver">search</button>
      </form>
      <ul>
        <li class="row">
          <h2 class="col-sm-12">Lunch ROI calculator</h2>
          <div class="col-sm-12">
            <ul>
              <li class="tag">
                <a>Python</a>
              <li class="tag">
                <a>Java</a>
              <li class="tag">
                <a>Bootstrap</a>
            </ul>
            <span>33s ago</span>
          </div>
          <div class="col-sm-12">
            <span>300 views</span>
            <span>by <a>Runnable</a></span>
          </div>
        <li class="row">
          <h2 class="col-sm-12">SGGIPROFA</h2>
          <div class="col-sm-12">
            <ul>
              <li class="tag">
                <a>Python</a>
              <li class="tag">
                <a>Java</a>
              <li class="tag">
                <a>Bootstrap</a>
            </ul>
            <span>33s ago</span>
          </div>
          <div class="col-sm-12">
            <span>300 views</span>
            <span>by <a>Runnable</a></span>
          </div>
        <li class="row">
          <h2 class="col-sm-12">crypto example</h2>
          <div class="col-sm-12">
            <ul>
              <li class="tag">
                <a>Python</a>
              <li class="tag">
                <a>Java</a>
              <li class="tag">
                <a>Bootstrap</a>
            </ul>
            <span>33s ago</span>
          </div>
          <div class="col-sm-12">
            <span>300 views</span>
            <span>by <a>Runnable</a></span>
          </div>
        <li class="row">
          <h2 class="col-sm-12">Adam_TEST</h2>
          <div class="col-sm-12">
            <ul>
              <li class="tag">
                <a>Python</a>
              <li class="tag">
                <a>Java</a>
              <li class="tag">
                <a>Bootstrap</a>
            </ul>
            <span>33s ago</span>
          </div>
          <div class="col-sm-12">
            <span>300 views</span>
            <span>by <a>Runnable</a></span>
          </div>
        <li class="row">
          <h2 class="col-sm-12">mikeal/request GH-816 request with defaults</h2>
          <div class="col-sm-12">
            <ul>
              <li class="tag">
                <a>Python</a>
              <li class="tag">
                <a>Java</a>
              <li class="tag">
                <a>Bootstrap</a>
            </ul>
            <span>33s ago</span>
          </div>
          <div class="col-sm-12">
            <span>300 views</span>
            <span>by <a>Runnable</a></span>
          </div>
      </ul>
    </section>
  </div>
</section>

{{view "footer_view" model=user context=.}}
