{{view "app_user" model=user}}
{{view "header_view" model=user context=. nosearch=true}}
{{view "global_message"}}

<section id="home-header" class="hero">
  <div class="bubbles-container">
    <div class="bubbles">
      <img class="bubble small" src="/images/hero-logos/search.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="bubble small" src="/images/hero-logos/world.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="bubble large" src="/images/hero-logos/cog.svg">
      <img class="bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="bubble small" src="/images/hero-logos/connection.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="bubble small reverse" src="/images/hero-logos/heart.svg">
      <img class="bubble small" src="/images/hero-logos/search.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/thumbs-up.svg">
      <img class="bubble large" src="/images/hero-logos/lightbulb.svg">
      <img class="bubble small reverse" src="/images/hero-logos/cog.svg">
      <img class="bubble medium" src="/images/hero-logos/chat-cutout.svg">
      <img class="bubble large reverse" src="/images/hero-logos/globe.svg">
      <img class="bubble small" src="/images/hero-logos/world.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/jquery.svg">
      <img class="bubble large" src="/images/hero-logos/cog.svg">
      <img class="bubble small reverse" src="/images/hero-logos/codeigniter.svg">
      <img class="bubble medium" src="/images/hero-logos/arrow.svg">
      <img class="bubble large reverse" src="/images/hero-logos/chat-bubble.svg">
      <img class="bubble small" src="/images/hero-logos/connection.svg">
      <img class="bubble medium reverse" src="/images/hero-logos/display.svg">
      <img class="bubble large" src="/images/hero-logos/expression-engine.svg">
      <img class="bubble small reverse" src="/images/hero-logos/heart.svg">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          Run
          <ul id="channel-text" class="out">
            <li>Your
            {{#each channel_buttons}}
            <li>{{title}}
            {{/each}}
          </ul>
          Code Online
        </h1>
        <h2>Choose Your Stack to Get Started</h2>
        <ul id="channel-images">
          {{#each channel_buttons}}
          <li><a href="/new/{{name}}" data-title="{{name}}">{{view 'channel_image' name=name}}</a>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="glyphicons chevron-right"></div>
</section>

<<<<<<< Updated upstream
<section id="feed">
  <div class="container">
    <div class="row">
      <nav id="feed-nav" class="col-sm-10 col-sm-offset-2">
        {{view "feed_toggles"}}
        {{view "searchbar" divclass="feed-search" inputclass="form-control" placeholder="Search for code"}}
      </nav>
    </div>
    <div class="row">
      {{view "feed_filters" collection=channels}}
      {{view "runnable_feed"}}
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <ul class="pagination">
          <li class="prev"><a><span class="glyphicons chevron-left"></span>Previous</a>
          <li><a>1</a>
          <li class="ellipsis">• • •
          <li class="active">3
          <li class="ellipsis">• • •
          <li><a>40</a>
          <li class="next"><a>Next <span class="glyphicons chevron-right"></span></a>
        </ul>
      </div>
    </div>
  </div>
</section>
=======
{{view 'feed' channels=channels feed=feed}}
>>>>>>> Stashed changes

{{view "footer_view" model=user context=.}}
