{{view "header_view" model=user context=.}}
<div class="content">
  <div class="container">
    <h1><img src="/images/channels/codeigniter.png" alt=""> {{channel}} Runnable Code Examples</h1>
    <aside class="span3">
      <section class="module">
        <h3>Filter by tag</h3>
        <nav class="tags-filter">
          <a href=""><img src="/images/channels/jquery.png" alt=""> jQuery (57)</a>
          <a href=""><img src="/images/channels/facebook.png" alt=""> Facebook (47)</a>
          <a href=""><img src="/images/channels/google.png" alt=""> Google (13)</a>
          <a href="">Some made up tag (1)</a>
          <a href="">AnotherMadeUpTag (1)</a>
          <a href="" class="subtle">+ Show More</a>
        </nav>
        <!--<nav class="tags-nav">
          {{#each channels.models}}
          {{view "tag_link" model=.}}
          {{/each}}
        </nav>-->
      </section>
    </aside>
    <article class="span9 last">
      <section class="tag-info">
        <p>CodeIgniter is a powerful PHP framework with a very small footprint, built for PHP coders who need a simple and elegant toolkit to create full-featured web applications. If you're a developer who lives in the real world <a href="" class="subtle">read more...</a></p>
        <p><a href="" target="_blank">ellislab.com/codeigniter</a></p>
      </section>
      {{view "runnable_list" collection=images className=""}}
    </article>
  </div>
</div>
{{view "footer_view" model=user context=.}}