{{view "header_view" model=user context=.}}

<section id="tags-main" class="container">
  <div class="row">
    <div class="col-sm-9{{#if channels.length}} col-sm-offset-3{{/if}}">
      <h2 class="page-title">
        {{#with channel.attributes}}
        {{#channelHasImage name}}
        <span class="icon-container">
          {{view "channel_image" name=name large=true height="39" width="35"}}
        </span>
        {{/channelHasImage}}
        <span>{{name}} Code Examples</span>
        {{/with}}
        <select class="selectpicker" style="display:none">
          <!--option>Most Recent</option-->
          <option>Most Popular</option>
        </select>
      </h2>
    </div>
  </div>
  <div class="row">
    {{#if channels.length}}
    <aside id="tags-sidebar" class="col-sm-3">
      <ul>
        <li><h3>Related Tags</h3></li>
        {{#each channels.models}}
        {{#with attributes}}
        <li><a href="/{{name}}">{{name}}<span> {{count}}</span></a></li>
        {{/with}}
        {{/each}}
      </ul>
    </aside>
    {{/if}}
    <div id="tags-details" class="{{#if channels.length}}col-sm-9{{else}}col-sm-12{{/if}}">
      {{#with channel.attributes}}
      {{#if description}}
      <p class="description">{{description}}<!--a class="more" href="#">&bull; &bull; &bull;</a--></p>
      {{/if}}
      {{/with}}
      {{view "runnable_list" collection=images className=""}}
    </div>
  </div>
</section>

{{view "footer_view" model=user context=.}}