{{view "header_view" model=user context=.}}
<div class="content">
  <div class="container">
    <section class="title">
      <h1>{{channel}} Runnables</h1>
    </section>
    {{view "runnable_list" collection=images className="span9"}}
    <div class="span3 last">
      <section class="module">
        <h3>Tags</h3>
        <nav class="tags-nav">
          {{#each channels.models}}
          {{view "tag_link" model=.}}
          {{/each}}
        </nav>
      </section>
    </div>
  </div>
</div>
{{view "footer_view" model=user context=.}}