{{view "header_view" model=user context=.}}
<div class="content">
  <div class="container">
    <h1>
      {{#with channel.attributes}}
      {{view 'channel_image' name=name}}
      <span>{{name}} Runnable Code Examples</span>
      {{/with}}
    </h1>
    {{#if channels.length}}
    <aside class="span3">
      <section class="module">
        <h3>Filter by tag</h3>
        <nav class="tags-filter">
          {{#each channels.models}}
          {{#with attributes}}
          <a href="/{{name}}">
            {{view "channel_image" name=name}}
            <span>{{name}} ({{count}})</span>
          </a>
          {{/with}}
          {{/each}}
        </nav>
      </section>
    </aside>
    {{/if}}
    <article class="{{#if channels.length}}span9{{else}}span12{{/if}} last">
      <!--{{#if channel.attributes.description}}
      <section class="tag-info">
        <p>{{{channel.attributes.description}}}</p>
      </section>
      {{/if}}-->
      {{view "runnable_list" collection=images className=""}}
    </article>
  </div>
</div>
{{view "footer_view" model=user context=.}}