{{view "app_user" model=user}}
{{view "header_view" model=user context=.}}
{{view "global_message"}}

<main id="tags-main" class="container">
  <div class="row">
    <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">
      <h1 class="clearfix">
      {{#with channel.attributes}}
        {{view "channel_image" name=name}}
        <span>{{name}}</span>
        {{#if description}}
          <p>{{description}}
        {{/if}}
      {{/with}}
      </h1>
    </div>
  </div>

{{!--
  {{#each channels.models}}
    {{#with attributes}}
    <li><a href="/{{name}}">{{name}}<span> {{count}}</span></a></li>
    {{/with}}
  {{/each}}
 --}}
  <div class="row">

    
    
    {{view 'feed' channels=channels feedTrending=feedTrending feedPopular=feedPopular}}

  </div>
{{!--
  <div class="row">
    <div id="tags-details" class="{{#if channels.length}}col-sm-9{{else}}col-sm-12{{/if}}">
      {{view "runnable_list" collection=images className=""}}
    </div>
  </div>
 --}}
 </main>

{{view "footer_view" model=user context=.}}
