<!doctype html>
<html lang="en">

  <head>
    <meta name="google-site-verification" content="x7aUQzI0MCl_SEwRhQ1TFHiNvYgGprRse3EL-FScpoU" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{locals.page.title}}</title>
    <meta name="description" content="{{locals.page.description}}"/>
    {{#if locals.page.canonical}}
    <link rel="canonical" href="{{locals.page.canonical}}">
    {{/if}}
    <meta name="fragment" content="!">
    <link href="/styles/index.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
    {{view "header_view" model=locals.user context=locals}}
    <section id="content">
      {{{body}}}
    </section>
    {{view "footer_view"}}
    <script src="/mergedAssets.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>
  </body>

</html>