{{#each collection.models}}

{{#if_modulo @index 3}}
<div class="row">
{{/if_modulo}}

{{#if_eq attributes.name compare="runnableid"}}
  {{view 'git_card'}}
{{else}}
  <div class="col-sm-4">
    {{#if attributes.url}}
    <a href="{{attributes.url}}" data-name="{{attributes.name}}">
    {{else}}
    <a href="{{../../../basehref}}{{invoke . method='appUrl'}}" data-name="{{attributes.name}}">
    {{/if}}
      {{#with attributes}}
      {{view 'channel_image' name=name}}
      <div class="description">
        <h2>{{name}}</h2>
        {{#if description}}
        <p>{{description}}
        {{/if}}
      </div>
      {{/with}}
    </a>
  </div>
{{/if_eq}}

{{#if_modulo @index 3 1 notzero=true}}
</div>
{{/if_modulo}}

{{/each}}
