{{#each collection.models}}

{{!--
{{#if_modulo @index 3}}
<div class="row">
{{/if_modulo}}
{{#if_eq attributes.name compare="runnableid"}}
  {{view 'git_card'}}
{{else}}
 --}}

 {{#with attributes}}
  <div class="col-sm-4">
    {{#if attributes.url}}
    <a href="{{url}}" data-name="{{name}}">
    {{else}}
    <a href="/new/{{name}}" data-name="{{name}}">
    {{/if}}
      {{view 'channel_image' name=name}}
      <div class="description">
        <h2>{{name}}</h2>
        {{#if description}}
        <p>{{description}}
        {{/if}}
      </div>
    </a>
  </div>
{{/with}}

{{!-- {{/if_eq}}
{{#if_modulo @index 3 1 notzero=true}}
</div>
{{/if_modulo}}
--}}

{{/each}}
