<div class="row">
  {{#if_eq basehref compare="/new"}}
  <div class="col-sm-4">
    <a class="card">
      <div class="description">
        <h2>
          <form>
            <input name='id' placeholder="Runnable Id">
          </form>
        </h2>
        <p>Find an existing code example to start with (RunnableId is in the url).</p>
      </div>
    </a>
  </div>
  {{/if_eq}}
  {{#each collection.models}}
  <div class="col-sm-4">
    <a href="{{invoke . method='appUrl'}}" class="card" data-name="{{attributes.name}}">
      {{#with attributes}}
      {{view 'channel_image' name=name height="24" width="22"}}
      <div class="count">{{count}}</div>
      <div class="description">
        <h2>{{name}}</h2>
        {{#if description}}
        <p>{{description}}</p>
        {{/if}}
      </div>
      {{/with}}
    </a>
  </div>
  {{/each}}
</div>
<br/>