{{#each collection.models}}

{{#if_modulo @index 3}}
<div class="row">
{{/if_modulo}}

{{#if_eq attributes.name compare="runnableid"}}
  <div id="git-card" class="col-sm-4">
    <a class="card">
      <img src="/images/icon-git.svg" height="30" width="31" alt="Github">
      <div class="description">
        <h2>
          Import from GitHub
          <form class="clearfix">
            <input placeholder="Git Url" class="form-control" required>
            <div class="dropdown-wrapper">
              <select disabled required>
                <option value="" selected disabled>Select Language
                <option value=".Net">.Net
                <option value="bash">bash
                <option value="C++">C++
                <option value="CakePHP">CakePHP
                <option value="Codeigniter">Codeigniter
                <option value="Dart">Dart
                <option value="Django">Django
                <option value="express">express
                <option value="Flask">Flask
                <option value="Java">Java
                <option value="Javascript">Javascript
                <option value="Node.js">Node.js
                <option value="PHP">PHP
                <option value="Python">Python
              </select>
              <div class="dropdown">Language</div>
            </div>
          </form>
        </h2>
      </div>
    </a>
  </div>
{{else}}
  <div class="col-sm-4">
    {{#if attributes.url}}
    <a href="{{attributes.url}}" class="card" data-name="{{attributes.name}}">
    {{else}}
    <a href="{{../../../basehref}}{{invoke . method='appUrl'}}" class="card" data-name="{{attributes.name}}">
    {{/if}}
      {{#with attributes}}
      {{view 'channel_image' name=name height="24" width="22"}}
      <div class="count">{{count}}</div>
      <div class="description">
        <h2>{{name}}</h2>
        {{#if description}}
        <p>{{description}}</p>
        {{/if}}
      </div>
      {{/with}}
    </a>
  </div>
{{/if_eq}}

{{#if_modulo @index 3 1 notzero=true}}
</div>
{{/if_modulo}}

{{/each}}
