<div class="modal-dialog spec-modal" id="create-spec-modal">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Create API</h4>
    </div><!--/.modal-header-->

    <div class="modal-body">
      {{#if_eq step compare=1}}
      {{#with specification.attributes}}
      <form class="name-form step1" role="form">
        <input class="form-control" type="text" name="name" placeholder="API Name" value="{{name}}" required>
        <hr>
        {{view "spec_requirements" model=../specification}}
      {{/with}}
        <a>Go Back</a>
        <button class="orange">Next</button>
      </form>
      {{else}}
      <form class="step2">
        <textarea class="form-control" placeholder="Instructions">{{instructions}}</textarea>
        <div class="preview">{{markdown instructions}}</div>
        <button type="button" class="prev">Previous</button>
        <button class="orange">Done</button>
      </form>
      {{/if_eq}}
    </div><!--/.modal-body-->

  </div><!--/.modal-content-->

</div><!--/.modal-dialog-->
