<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Create API</h4>
    </div>
    <div class="modal-body">
      {{#if_eq step compare=1}}
        {{#with specification.attributes}}
        <form class="name-form" role="form">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" name="name" value="{{name}}" required>
          </div>
          {{view "spec_requirements" model=../specification}}
        {{/with}}
        <button class="col-sm-12 orange">Next</button>
        </form>
      {{else}}
      <form class="step2">
        <textarea>{{instructions}}</textarea>
        <div class="preview">{{markdown instructions}}</div>
        <button type="button" class="prev purple col-sm-2">Previous</button>
        <button class="prev purple col-sm-10 orange">Done</button>
        <div class="clear"></div>
      </form>
      {{/if_eq}}
    </div>
  </div>
</div>