<h3>
  {{#with model.attributes}}
  <a href="#">{{name}}</a>
  {{/with}}
</h3>
<p>
  {{#with model.attributes}}
  {{#if ../isimage}}
  <span><span class="glyphicon glyphicon-play"></span> {{runs}}</span>&bull;
  <span><span class="glyphicon glyphicon-eye-open"></span> {{views}}</span>&bull;
  <span><img src="/images/button-save.png" height="12" width="14"> {{copies}}</span>&bull;
  <span>Published {{dateAgo created}}</span>&bull;
  {{else}}
  <span>Created {{dateAgo created}}</span>&bull;
  {{/if}}
  {{/with}}
  <span class="tags">
    {{#each model.attributes.tags}}
    {{view "tag_link" name=name}}
    {{/each}}
  </span>
  {{#if editmode}}
  <button type="button">x</button>
  {{/if}}
</p>
