<h2 class="col-sm-12"><a href="{{model.attributes.appUrl}}">{{model.attributes.name}}</a></h2>
<div class="col-sm-12 clearfix">
  <data><span class="glyphicons play-button"></span><b>{{model.attributes.runs}}</b> Runs</data>
  <ul>
    {{#each model.attributes.tags}}
    <li class="tag">
      <a href="/{{this.name}}">{{this.name}}</a>
    {{/each}}
  </ul>
  <time>{{dateAgo model.attributes.created}}</time>
</div>
{{#if editmode}}
<button class="delete" type="button">
  <span>Delete</span>
  <span class="glyphicons circle-remove"></span>
</button>
{{/if}}