<h3>
  <a href="/{{_id}}/{{urlFriendly name}}">
    {{name}}
  </a>
</h3>
<p>
  {{#unless ../novotes}}
  <span class="vote-up">
    <span>{{votes}}</span>
  </span>
  &bull;
  {{/unless}}
  {{view "runnable_item_owner" model=../model.owner model_id=owner model_name='user' created=created}}
  {{#if tags.length}}
  &bull;
  <span class="tags">
    {{#each tags}}
    {{view "tag_link" name=name}}
    {{/each}}
  </span>
  {{/if}}
</p>