<h3>
  <a href="{{invoke model method='appURL'}}">{{model.attributes.name}}</a>
</h3>
<p class="runnable-stats">
  {{#with model.attributes}}
  {{#if ../isimage}}
  <span data-toggle="tooltip" title="{{runs}} runs"><span class="glyphicons play"></span> {{runs}}</span>&bull;
  <span data-toggle="tooltip" title="{{views}} views"><span class="glyphicons eye-open"></span> {{views}}</span>&bull;
  <span data-toggle="tooltip" title="{{copies}} copies to clipboard"><span class="glyphicons notes-2"></span> {{copies}}</span>
  <span>Published {{dateAgo created}}</span>&bull;
  {{else}}
  <span>Created {{dateAgo created}}</span>&bull;
  {{/if}}
  <span class="tags">
    {{#each tags}}
    {{view "tag_link" name=name}}
    {{/each}}
  </span>
  {{#if ../editmode}}
  <button class="delete" type="button">x</button>
  {{/if}}
  {{/with}}
</p>