{{#with model.attributes}}
<div class="gravitar">
  <img src="{{gravitar}}?s=128" alt="{{username}}">
  <a href="http://en.gravatar.com/" target="_blank">Change Gravitar <span class="glyphicon glyphicon-new-window"></span></a>
</div>
<h1>{{username}}</h1>
<div class="edit-inline">
  <input value="{{#if name}}{{name}}{{else}}{{/if}}" placeholder="Full Name" name="name">
  <span class="glyphicon glyphicon-pencil"></span>
</div>
<div>
  <input value="{{dateAgo created true}} running" disabled>
</div>
<hr>
<div class="edit-inline">
  <span class="glyphicon glyphicon-envelope"></span>
  <input value="KhalD@Runnable.com" placeholder="Email" disabled>
  <div class="permission">
    <span class="glyphicon glyphicon-eye-close" data-toggle="dropdown"></span>
    <ul class="dropdown-menu">
      <li>
        <a tabindex="-1" class="public">Publicly Viewable</a>
      <li>
        <a tabindex="-1" class="only-me">Only Me</a>
    </ul>
  </div>
</div>
<div class="edit-inline">
  <span class="glyphicon glyphicon-briefcase"></span>
  <input value="Runnable" placeholder="Company">
  <span class="glyphicon glyphicon-pencil"></span>
</div>
{{/with}}
