{{#with model.attributes}}
<h3>
  <a href="#">{{name}}</a>
</h3>
<p>
  <span><span class="glyphicon glyphicon-play"></span> {{runs}}</span>&bull;
  <span><span class="glyphicon glyphicon-eye-open"></span> {{views}}</span>&bull;
  <span><span class="glyphicon glyphicon-copyright-mark"></span> {{copies}}</span>&bull;
  <span>{{dateAgo created}}</span>&bull;
  <span class="tags">
    {{#each tags}}
    {{view "tag_link" name=name}}
    {{/each}}
  </span>
</p>
{{/with}}