{{#if editmode}}
  {{#with model.attributes}}
    <div id="gravatar">
      <div class="col-sm-8">
        <img src="{{gravitar}}?s=255" alt="{{username}}">
        <a href="https://en.gravatar.com/site/login" target="_blank" class="glyphicons edit"></a>
        <span class="reputation tooltip" data-title="{{taggedImagesCount}} published Runnables">{{taggedImagesCount}}</span>
      </div>
      <h1>{{username}}</h1>
      <p>Started running {{dateAgo created}}.</p>
    </div>
  {{/with}}

  {{#if leaderBadges.length}}
  <ol id="reputation">
    {{#each leaderBadges.models}}
    <li class="col-sm-6 col-md-4">
      <a href="/{{attributes.name}}">
        {{view "channel_image" name=attributes.name}}
      </a>
      <span class="reputation tooltip" data-title="{{attributes.userImagesCount}} {{attributes.name}} Runnables">{{attributes.userImagesCount}}</span>
    {{/each}}
  </ol>
  {{/if}}

  {{#with model.attributes}}
  <form class="inline">
    <input value="{{name}}" placeholder="Full Name" name="name">
  </form>
  <form class="inline">
    <input value="{{company}}" placeholder="Company" name="company">
  </form>
  <form class="inline">
    <input value="{{email}}" placeholder="Email" disabled>
    <div class="menu">
      <a class="glyphicons {{#if show_email}}unlock{{else}}lock{{/if}}" data-toggle="dropdown"></a>
      <ul>
        <li>
          <a class="public">
            <span class="glyphicons unlock"></span>
            Publicly Viewable
          </a>
        <li>
          <a class="private">
            <span class="glyphicons lock"></span>
            Only Me
          </a>
      </ul>
    </div>
  </form>
  {{/with}}

{{else}}

  {{#with model.attributes}}
    <div id="gravatar">
      <div class="col-sm-8">
        <img src="{{gravitar}}?s=255" alt="{{username}}">
        <span class="reputation tooltip" data-title="{{taggedImagesCount}} published Runnables">{{taggedImagesCount}}</span>
      </div>
      <h1>{{username}}</h1>
      <p>Running for {{dateAgo created true}}.</p>
    </div>
  {{/with}}

  {{#if leaderBadges.length}}
  <ol id="reputation">
    {{#each leaderBadges.models}}
    <li class="col-sm-6 col-md-4">
      <a href="/{{attributes.name}}">
        {{view "channel_image" name=attributes.name}}
      </a>
      <span class="reputation tooltip" data-title="{{attributes.userImagesCount}} {{attributes.name}} Runnables">{{attributes.userImagesCount}}</span>
    {{/each}}
  </ol>
  {{/if}}

  {{#with model.attributes}}
    {{#if name}}
    <form class="inline">
      <input value="{{name}}" placeholder="Full Name" name="name" disabled>
    </form>
    {{/if}}
    {{#if show_email}}
    <form class="inline">
      <input value="{{email}}" placeholder="Email" disabled>
    </form>
    {{/if}}
    {{#if company}}
    <form class="inline">
      <input value="{{company}}" placeholder="Company" disabled>
    </form>
    {{/if}}
  {{/with}}
{{/if}}
