<h3>
  {{#with model.attributes}}
  <a href="{{#unless ../isimage}}/me{{/unless}}/{{_id}}">{{name}}</a>
  {{/with}}
</h3>
<p>
  {{#with model.attributes}}
  {{#if ../isimage}}
  <span><span class="glyphicons play"></span> {{runs}}</span>&bull;
  <span><span class="glyphicons eye-open"></span> {{views}}</span>&bull;
  <span><span class="glyphicons more-items"></span> {{copies}}</span>&bull;
  <span>Published {{dateAgo created}}</span>&bull;
  {{else}}
  <span>Created {{dateAgo created}}</span>&bull;
  {{/if}}
  <span class="tags">
    {{#each tags}}
    {{view "tag_link" name=name}}
    {{/each}}
  </span>
  {{#if ../editmode}}
  <button class="delete" type="button">x</button>
  {{/if}}
  {{/with}}
</p>
