<div class="container">
  <div class="row">
    <nav id="feed-nav" class="col-sm-10 col-sm-offset-2">
      {{view "feed_toggles" defaultActive=orderBy}}
      {{view "searchbar" divclass="feed-search" inputclass="form-control" placeholder="Search for code"}}
    </nav>
  </div>

  <div class="row {{#if orderByPopular}}sort-popular{{/if}} {{#if orderByTrending}}sort-trending{{/if}} sort">
    {{view "feed_filters" collection=channels}}
    {{view "runnable_feed" collection=feedTrending orderByParam="trending"}}
    {{view 'pagination_buttons' collection=feedPopular orderByParam="trending"}}
    {{view "runnable_feed" collection=feedPopular orderByParam="popular"}}
    {{view 'pagination_buttons' collection=feedTrending orderByParam="popular"}}
  </div>

</div>
