<section id="feed" class="container">
  <div class="row">
    <nav id="feed-nav" class="col-sm-10 col-sm-offset-2">
      {{view "feed_toggles"}}
      {{view "searchbar" divclass="feed-search" inputclass="form-control" placeholder="Search for code"}}
    </nav>
  </div>

  <div class="row">
    {{view "feed_filters" collection=channels}}
    {{view "runnable_feed" collection=feed}}
  </div>

  {{view 'pagination_buttons' collection=feed}}

</section>
