<div class="container">
  <div class="row">
    <nav id="feed-nav" class="col-sm-10 col-sm-offset-2">
      {{view "feed_toggles"}}
      {{view "searchbar" divclass="feed-search" inputclass="form-control" placeholder="Search for code"}}
    </nav>
  </div>

  <div class="row">
    {{view "feed_filters" collection=channels}}
    <div id="feed_trending_container">
      {{view "runnable_feed" collection=feedTrending}}
    </div>
    <div id="feed_popular_container" style="display:none;">
      {{view "runnable_feed" collection=feedPopular}}
    </div>
  </div>

  {{view 'pagination_buttons' collection=feedPopular}}
</div>
