{{#exists dirJSON.contents}}
  {{#each dirJSON.contents}}
    <li {{#if_eq path compare=../selectedFile}}class="selected"{{/if_eq}}>
    {{#if_eq type compare="dir"}}
      {{view "file_tree" model=../../project path=path}}
    {{else}}
      {{view "file_tree_item" model=../../project path=path}}
    {{/if_eq}}
      <button><i class="icon-cog"></i></button>
    </li>
  {{else}}
    <li class="empty">(empty)</li>
  {{/each}}
{{else}}
  <li class='loading'>loading</li>
{{/exists}}
