{{!#if fsJSON.isRootDir}}
  {{!<span class="name {{fsJSON.type}" href="" data-id="{{fsJSON.path}" title="{{projectJSON.name}">{{projectJSON.name}</span>}}
{{!else}}
{{#if editmode}}
<form>
  <input class="name-input" name='name' value="{{name}}" />
</form>
{{else}}
  {{#if dir}}
  <span class="name {{type}}" data-id="{{_id}}" href="" title="{{fullPath}}">{{name}}</span>
  {{else}}
  <a class="name {{type}}" data-id="{{_id}}" href="javascript:void(0);" title="{{fullPath}}">{{name}}</a>
  {{/if}}
{{/if}}