{{!#if fsJSON.isRootDir}}
  {{!<span class="name {{fsJSON.type}" href="" data-id="{{fsJSON.path}" title="{{projectJSON.name}">{{projectJSON.name}</span>}}
{{!else}}
{{#if editmode}}
  <input class="name-input" name='name' value="{{name}}" />
{{else}}
  {{model.attributes.name}}
{{/if}}