{{!#if fsJSON.isRootDir}}
  {{!<span class="name {{fsJSON.type}" href="" data-id="{{fsJSON.path}" title="{{projectJSON.name}">{{projectJSON.name}</span>}}
{{!else}}
{{#if editMode}}
{{#with fsJSON}}
  <form>
    <input class="name-input" name='name' value="{{name}}" />
  </form>
{{/with}}
{{else}}
{{#with fsJSON}}
  {{#unless fsJSON.isRootDir}}
    {{#if_eq type compare='dir'}}
    <span class="name {{type}}" href="" data-id="{{path}}" title="{{path}}">{{name}}</span>
    {{else}}
    <a class="name {{type}}" href="" data-id="{{path}}" title="{{path}}">{{name}}</a>
    {{/if_eq}}
  {{/unless}}
{{/with}}
{{/if}}