{{#if_result model method="isRegistered"}}
<span id="user" class="menu">
  {{#with model.attributes}}
  <a><img src="{{gravitar}}?s=64" alt="{{username}}" height="36" width="36"></a>
  <ul>
    <li>
      <a href="/u/{{username}}">
        Profile
        <img src="{{gravitar}}?s=64" alt="{{username}}" height="18" width="18">
      </a>
    <li>
      <a href="/logout">
        Log Out
        <span class="glyphicons exit"></span>
      </a>
  </ul>
  {{/with}}
</span>
{{else}}
<a id="header-signup-link">Sign Up</a>
{{/if_result}}

{{view "create_new_button" model=model}}