{{#if_result model method="isRegistered"}}
<li id="user-info">
  <a href="{{invoke model method='appURL'}}">
    {{#with model.attributes}}
    <img src="{{gravitar}}?s=64" alt="{{username}}" height="35" width="35">
    <span class="username">{{username}}</span>
    {{#if name}}<span class="realname">{{name}}</span>{{/if}}
    {{/with}}
  </a>
  <div class="user-expanded">
    <ul>
      <li><a href="{{invoke model method='appURL'}}">Profile</a>
      <li><a href="/logout">Log Out</a>
    </ul>
  </div>
{{else}}
<li><a id="header-signup-link" href="#">Sign Up</a>
{{/if_result}}

<li>{{view "create_new_button" model=model}}