<li><a href="/all">Browse All</a>

<li>{{view "create_new_button" model=model}}

{{#if_result model method="isRegistered"}}
<li id="user-info">
  {{#with model.attributes}}
  <img src="{{gravitar}}?s=64" alt="{{username}}" height="35" width="35">
  <span class="user-name">
    <a>{{username}}</a>
    {{#if name}}<a>{{name}}</a>{{/if}}
  </span>
  {{/with}}
  <div class="user-expanded">
    <ul>
      <li><a href="{{invoke model method='appURL'}}">Profile</a>
      <li><a href="/logout">Log Out</a>
    </ul>
  </div>

{{else}}
<li><a id="header-signup-link" href="#">Sign Up</a>
{{/if_result}}