{{#if_result model method="isRegistered"}}
<li id="user-info">
  {{#with model.attributes}}
  <img src="{{gravitar}}?s=64" alt="{{username}}" height="35" width="35">
  <div class="user-name">
    <a>{{username}}</a>
    <a>Full Name</a>
  </div>
  <div class="user-expanded">
    <a class="glyphicon glyphicon-off" href="/logout"></a>
    <ul>
      <li><a href="/u/{{username}}">Profile</a></li>
    </ul>
  </div>
  {{/with}}
</li>
{{else}}
<li><a id="header-signup-link" href="#">Sign Up</a></li>
{{/if_result}}

<li>
  {{view "create_new_button" model=model}}
</li>
<li><a href="/all">Browse All</a></li>