{{#if implementation}}
{{#each model.attributes.requirements}}
<div class="form-group">
  <label for="{{.}}" class="control-label">{{.}}</label>
  <input name="{{.}}" value="{{findWhere ../implementation.attributes.requirements name=.}}" class="form-control">
</div>
{{/each}}
<button type="button" class="enter-keys silver col-sm-12">Instructions</button>
{{else}}
<button type="button" class="enter-keys silver col-sm-12">Get Keys</button>
{{/if}}