<div class="modal-dialog spec-modal">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      {{#if showrun}}
      <h4 class="modal-title">Keys Saved. Continue and Run.</h4>
      {{else}}
      <h4 class="modal-title">{{header}}</h4>
      {{/if}}
    </div><!--/.modal-header-->

    {{#if showrun}}
      <div class="modal-body">
        {{view "run_button" htmlonly=true}}
      </div>
    {{else}}
    <form>
      <div class="modal-body">
        <div id="implement-env-tab" class="clearfix">
            <p>Keys <a href="javascript:" class="keys-popover">(?)</a></p>
            {{#each model.attributes.requirements}}
            <div class="form-group">
              <label for="{{.}}" class="control-label">{{.}}</label>
              <input id="{{.}}" name="{{.}}" value="{{findWhere ../implementation.attributes.requirements name=.}}" class="form-control" required>
            </div>
            {{/each}}

            <hr>

            <p>Base URL <a href="javascript:void(0);" class="url-popover">(?)</a></p>
            <input readonly value="{{invoke implementation method='appUrl'}}" class="form-control">
        </div><!--/.implement-env-tab-->

        <div id="implement-instructions-tab">
          <p>Instructions for Keys</p>
          <div>{{{renderedInstructions}}}</div>
        </div><!--/.implement-instructions-tab-->

      </div><!--/.modal-body-->

      <div class="modal-footer">
        <a class="prev" href="javascript:">Go Back</a>
        <button name="save" class="orange">{{savetext}}</button>
      </div><!--/.modal-footer-->
    </form>
    {{/if}}

  </div><!--/.modal-content-->

</div><!--/.modal-dialog-->