<div class="row">
  <div class="col-md-9 col-sm-10 col-md-offset-3 col-sm-offset-2">
    <ul class="pagination">

      {{#if prevLink}}
        <li class="prev"><a href="/?orderBy={{orderByParam}}&page={{previousPage}}"><span class="glyphicons chevron-left"></span>Previous</a>
        <li><a href="/?orderBy={{orderByParam}}">1</a>

        {{#if showLeftElipsis}}
          <li class="ellipsis">• • •
        {{/if}}

      {{/if}}

      <li class="active">{{ page }}

      {{#if nextLink}}

        {{#if showRightElipsis}}
          <li class="ellipsis">• • •
        {{/if}}

        <li><a href="/?orderBy={{orderByParam}}&page={{ lastPageIndex }}">{{ lastPage }}</a>
        <li class="next"><a href="/?orderBy={{orderByParam}}&page={{nextPage}}">Next <span class="glyphicons chevron-right"></span></a>
      {{/if}}

    </ul>
  </div>
</div>
