{{view "vote_view" model=model}}
{{#with json}}
<h3>
  <a href="/{{_id}}/{{urlFriendly}}">
    {{name}}
  </a>
</h3>
<nav class="tags-nav">
  {{#each tags}}
  <a href="/{{.}}">
    <img src="/images/channels/{{.}}.png" alt="{{.}}">
    <span>{{.}}</span>
  </a>
  {{/each}}
  <a href="/{{friendlyFramework}}">
    <img src="/images/channels/{{friendlyFramework}}.png" alt="">
    <span>{{friendlyFramework}}</span>
  </a>
</nav>
<div class="author right">
  <span class="avatar">
    <img src="http://gravatar.com/avatar/{{ownerObject.email_md5}}" alt="{{ownerObject.username}}">
  </span>
  <span>
    <strong>{{ownerObject.username}}</strong>
    published
    <time pubdate="pubdate" datetime="{{created}}">{{createdString}}</time>
  </span>
</div>
{{/with}}