{{view "vote_button" model=model}}
{{#with json}}
<h3>
  <a href="/{{_id}}/{{urlFriendly name}}">
    {{name}}
  </a>
</h3>
<nav class="tags-nav">
  {{#each tags}}
  <a href="/{{name}}">
    <img src="/images/channels/{{name}}.png" alt="{{name}}">
    <span>{{name}}</span>
  </a>
  {{/each}}
  <a href="/{{urlFriendly framework}}">
    <img src="/images/channels/{{urlFriendly framework}}.png" alt="">
    <span>{{niceFramework}}</span>
  </a>
</nav>
<div class="author right">
  <span class="avatar">
    <img src="{{ownerJSON.gravitar}}" alt="{{ownerJSON.username}}">
  </span>
  <span>
    <strong>{{ownerJSON.username}}</strong>
    published
    <time pubdate="pubdate" datetime="{{created}}">{{niceCreated}}</time>
  </span>
</div>
{{/with}}