<div class="arrow"></div>

<h3 class="popover-title">
  <button type="button" class="close">×</button>
  Run Options
</h3>

<div class="popover-content">
  {{#if editmode}}
  <form class="form-group form-horizontal clearfix">
    <label for="start_cmd">Run cmd</label>
    <input class="form-control" name="start_cmd" value="{{model.attributes.start_cmd}}" required="">
    <div class="saved">Saved</div>
  </form>
  <hr>
  <form class="form-group form-horizontal clearfix">
    <label for="build_cmd">Build cmd</label>
    <input class="form-control" name="build_cmd" value="{{model.attributes.build_cmd}}" required="">
    <div class="saved">Saved</div>
  </form>
  <hr>
  <form class="form-group toggle-group clearfix">
    <label{{#unless model.attributes.output_format}} class="active"{{/unless}}>
      <div class="sprite-icons-output"></div>
      Web & Terminal
      <input type="radio" name="output_format" value=""{{#unless model.attributes.output_format}} checked{{/unless}}>
    </label>
    <label{{#if_eq model.attributes.output_format compare="web"}} class="active"{{/if_eq}}>
      <div class="sprite-icons-output"></div>
      Only Web
      <input type="radio" name="output_format" value="web"{{#if_eq model.attributes.output_format compare="web"}} checked{{/if_eq}}>
    </label>
    <label{{#if_eq model.attributes.output_format compare="terminal"}} class="active"{{/if_eq}}>
      <div class="sprite-icons-output"></div>
      Only Terminal
      <input type="radio" name="output_format" value="terminal"{{#if_eq model.attributes.output_format compare="terminal"}} checked{{/if_eq}}>
    </label>
  </form>
  {{else}}
  <form class="form-group form-horizontal clearfix">
    <label for="start_cmd">Run cmd</label>
    <input class="form-control" name="start_cmd" value="{{model.attributes.start_cmd}}" disabled>
    <div class="saved">Saved</div>
  </form>
  <hr>
  <form class="form-group form-horizontal clearfix">
    <label for="build_cmd">Build cmd</label>
    <input class="form-control" name="build_cmd" value="{{model.attributes.build_cmd}}" disabled>
    <div class="saved">Saved</div>
  </form>
  {{/if}}
</div>
