{{#if model.attributes.gravitar}}
<span>
  <img src="{{model.attributes.gravitar}}" alt="{{model.attributes.username}}">
</span>
{{/if}}
<p class="publish-date">
  Published {{dateAgo created}} by
</p>
<h4 class="author-title">
  {{#if model.attributes.username}}
  <!--a href="#">{{model.attributes.username}}</a-->
  <b>{{model.attributes.username}}</b>
  {{else}}
  <b>Anonymous</b>
  {{/if}}
</h4>
