{{#if model.attributes.gravitar}}
<a href="{{invoke model method='appURL'}}">
  <img class="project-author-icon" src="{{model.attributes.gravitar}}" alt="{{model.attributes.username}}">
  <span class="btn purple reputation">13k</span>
</a>

<h4 class="author-title">
  <span class="publish-date">Published {{dateAgo created}} by</span>
  {{#if model.attributes.username}}
  <a href="{{invoke model method='appURL'}}">{{model.attributes.username}}</a>
  {{else}}
  <b>Anonymous</b>
  {{/if}}
</h4>

{{view "leader_badges" collection=context.leaderBadges}}
{{/if}}
{{!-- {{view "runnable_share" model=image}} --}}