{{#if model.attributes.gravitar}}
<div class="row">
  <a href="{{invoke model method='appURL'}}" class="col-sm-5 col-xl-4">
    <img src="{{model.attributes.gravitar}}?s=150" alt="{{model.attributes.username}}">
    <span class="reputation reputation-sm tooltip" data-title="{{model.attributes.taggedImagesCount}} published Runnables">{{model.attributes.taggedImagesCount}}</span>
  </a>
  <h4 class="col-sm-7 col-xl-8">
    {{#if model.attributes.username}}
    <a href="{{invoke model method='appURL'}}">{{model.attributes.username}}</a>
    {{else}}
    <b>Anonymous</b>
    {{/if}}
    <div class="publish-date">published {{dateAgo created}}</div>
  </h4>
  {{view "leader_badges" collection=context.leaderBadges}}
</div>
{{/if}}