{{#with model.attributes}}
<span data-toggle="tooltip" title="{{runs}} runs"><span class="glyphicons play"></span> {{runs}}</span>&bull;
<span data-toggle="tooltip" title="{{views}} views"><span class="glyphicons eye-open"></span> {{views}}</span>&bull;
<span data-toggle="tooltip" title="{{copies}} copies"><span class="glyphicons more-items"></span> {{copies}}</span>
{{/with}}
