{{#with model.attributes}}
<span data-title="{{runs}} runs" class="tooltip"><span class="glyphicons play"></span> {{runs}}</span>
<span data-title="{{views}} views" class="tooltip"><span class="glyphicons eye-open"></span> {{views}}</span>
<span data-title="{{copies}} copies to clipboard" class="tooltip"><span class="glyphicons notes-2"></span> {{copies}}</span>
{{/with}}