{{#if editMode}}
<form>
  <textarea class="form-control title-input" name="description" placeholder="Give your code example a description" value="{{model.attributes.description}}" autofocus required></textarea>
  <button class="silver" type="submit">Save Description</button>
  <a class="cancel">Cancel</a>
</form>
{{else}}
  {{#if canEdit}}
  <p class="description">
    {{model.attributes.description}}<!--a class="more" href="#">&bull; &bull; &bull;</a-->
      {{#if model.attributes.description}}
      <a class="glyphicons edit"></a>
      {{else}}
      <a class="edit">Add Description</a>
    {{/if}}
  </p>
  {{else}}{{#if model.attributes.description}}
  <p class="description">
    {{model.attributes.description}}<!--a class="more" href="#">&bull; &bull; &bull;</a-->
  </p>
  {{/if}}{{/if}}
{{/if}}