<h3>
  <a href="{{invoke model method='appURL'}}">
    {{model.attributes.name}}
  </a>
</h3>
{{#with model.attributes}}
<p class="runnable-stats">

{{!--   {{#unless ../novotes}}
  <span class="vote-up">
    <span>{{votes}}</span>
  </span>
  &bull;
  {{/unless}}
 --}}

  <span data-toggle="tooltip" title="{{runs}} runs"><span class="glyphicons play"></span> {{runs}}</span>&bull;
  <span data-toggle="tooltip" title="{{views}} views"><span class="glyphicons eye-open"></span> {{views}}</span>&bull;
  <span data-toggle="tooltip" title="{{copies}} copies to clipboard"><span class="glyphicons notes-2"></span> {{copies}}</span>
  &bull;
  {{view "runnable_item_owner" model=../model.owner model_id=owner model_name='user' created=created}}
  {{#if tags.length}}
  &bull;
  <span class="tags">
    {{#each tags}}
    {{view "tag_link" name=name}}
    {{/each}}
  </span>
  {{#if_result ../../user method="isModerator"}}
  <button class="delete" type="button">x</button>
  {{/if_result}}
  {{/if}}
</p>
{{/with}}
