<h3>
  <a href="{{invoke model method='appURL'}}">
    {{model.attributes.name}}
  </a>
</h3>
{{#with model.attributes}}
<p>
  {{#unless ../novotes}}
  <span class="vote-up">
    <span>{{votes}}</span>
  </span>
  &bull;
  {{/unless}}
  {{view "runnable_item_owner" model=../model.owner model_id=owner model_name='user' created=created}}
  {{#if tags.length}}
  &bull;
  <span class="tags">
    {{#each tags}}
    {{view "tag_link" name=name}}
    {{/each}}
  </span>
  {{#if_result ../../user method="isModerator"}}
  <button class="delete" type="button">x</button>
  {{/if_result}}
  {{/if}}
</p>
{{/with}}
