Published by
{{#if model.attributes.username}}
<a href="{{invoke ../model method='appURL'}}">{{model.attributes.username}}</a>
{{else}}
<b>Anonymous</b>
{{/if}}
<time datetime="{{model.attributes.created}}"> {{dateAgo model.attributes.created}}</time>