<h2><a href="{{invoke model method='appURL'}}">{{model.attributes.name}}</a></h2>
{{#with model.attributes}}
<div class="col-sm-12 clearfix">
  <data><span class="glyphicons play-button"></span><b>{{runs}}</b> Runs</data>
  <ul>
    {{#each tags}}
    <li class="tag"><a href="/{{name}}">{{name}}</a>
    {{/each}}
  </ul>
</div>
{{/with}}
{{view 'user_image' model=owner}}
