<span class="avatar">
  {{#if model.attributes.gravitar}}
  <img src="{{model.attributes.gravitar}}" alt="{{model.attributes.username}}">
  {{/if}}
</span>
<span>
  {{#if model.attributes.username}}
  <strong>{{model.attributes.username}}</strong>
  {{else}}
  <strong>Anonymous</strong>
  {{/if}}
  published
  <time pubdate="pubdate" datetime="{{created}}">{{dateAgo created}}</time>
</span>