{{view "vote_button" model=model}}
{{#with model}}
<h2>
  <a href="/{{attributes._id}}/{{virtuals.appURL}}">
    {{attributes.name}}
  </a>
</h2>
{{/with}}
{{#with model.attributes}}
{{#if tags}}
{{#if tags.length}}
<nav class="tags-nav">
  {{#each tags}}
  {{view "tag_link" data=.}}
  {{/each}}
</nav>
{{/if}}
{{/if}}
{{/with}}
{{view "runnable_item_owner" model=model.owner model_id=owner model_name='user' created=created}}