  {{#if model.attributes.gravitar}}
  <span class="avatar"><img src="{{model.attributes.gravitar}}" alt="{{model.attributes.username}}"></span> 
  {{/if}}Published by 
<span>
  {{#if model.attributes.username}}
  <strong>{{model.attributes.username}}</strong>
  {{else}}
  <strong>Anonymous</strong>
  {{/if}} 
  <time pubdate="pubdate" datetime="{{created}}">{{dateAgo created}}</time>
</span>