<h2>
  Forked from <a href="#">Create a horizontal navigation menu bar using jQuery</a>.
</h2>
{{#with model.attributes}}
<data>
  <span class="tooltip" data-title="{{runs}} runs">
    <span class="glyphicons play-button"></span><b>{{runs}}</b> Runs
  </span>
  <span class="tooltip" data-title="{{views}} views">
    <span class="glyphicons riflescope"></span><b>{{views}}</b> Views
  </span>
  <span class="tooltip" data-title="{{copies}} copies">
    <span class="glyphicons notes-2"></span><b>{{copies}}</b> Copies
  </span>
</data>
{{/with}}