<h2 class="col-sm-12"><a href="{{model.attributes.appUrl}}">{{model.attributes.name}}</a></h2>
<div class="col-sm-12 clearfix">
  <data><span class="glyphicons play-button"></span><b>{{model.attributes.runs}}</b> Runs</data>
  <ul>
    {{#each model.attributes.tags}}
      {{#if this.display}}
        <li class="tag {{#if this.isActiveFilter}}active{{/if}}">
          <a href="/{{this.name}}">{{this.name}}</a>
      {{/if}}
    {{/each}}
  </ul>
</div>
{{view 'feed_actions' model=model}}


<time>{{dateAgo attributes.created}}</time>
{{view 'user_image' model=owner}}

