<span class="avatar">
  <img src="{{model.attributes.gravitar}}" alt="{{model.attributes.username}}">
</span>
<span>
  <strong>{{model.attributes.username}}</strong>
  published
  <time pubdate="pubdate" datetime="{{created}}">{{dateAgo created}}</time>
</span>