{{#unless notabs}}
<ul class="nav nav-tabs">
  {{#each sorts}}
  <li {{#if_eq sort compare=../sort}}class="active"{{/if_eq}}>
    <a href="{{href}}">{{label}}</a>
  </li>
  {{/each}}
</ul>
<ul id="tags-content" class="tabs">
  {{#each collection.models}}
    {{view "runnable_item_view" model=. novotes=../novotes}}
  {{/each}}
</ul>
{{else}}
<ul id="tags-content">
  {{#each collection.models}}
    {{view "runnable_item_view" model=. novotes=../novotes}}
  {{/each}}
</ul>
{{/unless}}

{{#unless nopaging}}
<ul class="pagination">
  {{#if prevLink}}
    <li><a href="{{prevLink}}" class="prev"><span class="glyphicons chevron-left"></span> Previous</a>
  {{/if}}

  {{#if firstPageLink}}
    {{#with firstPageLink}}
      <li><a href="{{link}}">{{page}}</a>
      {{#if ellipsis}}<span class="ellipsis">• • •</span>{{/if}}
    {{/with}}
  {{/if}}

  {{#each links}}
    <li>
    {{#if_eq page compare=../page}}
    <a class="active" href="{{link}}">{{page}}</a>
    {{else}}
    <a href="{{link}}">{{page}}</a>
    {{/if_eq}}
  {{/each}}

  {{#if lastPageLink}}
    {{#with lastPageLink}}
      {{#if ellipsis}}<span class="ellipsis">• • •</span>{{/if}}
      <li><a href="{{link}}">{{page}}</a>
    {{/with}}
  {{/if}}

  {{#if nextLink}}
    <li><a href="{{nextLink}}" class="next">Next <span class="glyphicons chevron-right"></span></a>
  {{/if}}
</ul>
{{/unless}}
