<ul id="tags-content">
  {{#each collection.models}}
    {{view "runnable_item_view" model=. novotes=../novotes}}
  {{/each}}
</ul>
{{#unless nopaging}}
<center>
  <ul class="pagination">
    {{#if prevLink}}
    <li><a href="{{prevLink}}">«</a></li>
    {{/if}}
    {{#each links}}
    <li>
    {{#if_eq page compare=../page}}
    <a class="active" href="{{link}}">{{page}} of {{../../lastPage}}</a>
    {{else}}
    <a href="{{link}}">{{page}}</a>
    {{/if_eq}}
    </li>
    {{/each}}
    {{#if nextLink}}
    <li><a href="{{nextLink}}">»</a></li>
    {{/if}}
  </ul>
</center>
{{/unless}}