<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>{{header}}</h4>
    </div>
    <div class="modal-body">
      <ul class="step-progress-bar clearfix steps-3">
        <li data-step="1"{{#if_gte step compare=1}} class="active"{{/if_gte}}></li>
        <li data-step="2"{{#if_gte step compare=2}} class="active"{{/if_gte}}></li>
        <li data-step="3"{{#if_gte step compare=3}} class="active"{{/if_gte}}></li>
      </ul>
      <div class="step step{{step}}">
        {{#if_eq step compare=1}}{{!   --STEP1--   }}
          <!--
          <h4>Select a Service</h4>
          <form class="step1 form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-12">
                <select class="specification form-control" required>
                  <option value="">Select a Service</option>
                  {{#each collection.models}}
                  <option value="{{attributes._id}}"{{#if_eq ../specification.id compare=attributes._id}} selected="selected"{{/if_eq}}>{{attributes.name}}</option>
                  {{/each}}
                  <option value="new"{{#if_result specification method="isNew"}} selected="selected"{{/if_result}}>Create a New Service</option>
                </select>
              </div>
            </div>
            {{#if specification.attributes}}
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input class="form-control" name="name" value="{{specification.attributes.name}}" {{#if_result specification method="allowEdit"}}required{{else}}disabled="disabled"{{/if_result}}>
              </div>
            </div>
            {{#if_result specification method="allowEdit"}}
            <button class="orange col-sm-12">Next</button>
            {{else}}
            <button class="orange col-sm-12 next">Next</button>
            {{/if_result}}
            {{/if}}
          </form>
          -->
          <h4>Select a Service</h4>
            <form class="step1 form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-12">
                  <ul>
                    <li><a><img src="/images/provider-icons/icon-codeigniter.png" height="24" width="22">Facebook</a>
                    <li><a><img src="/images/provider-icons/icon-paypal.png" height="24" width="22">Google Maps</a>
                    <li><a><img src="/images/provider-icons/icon-php.png" height="24" width="22">Instagram</a>
                    <li><a><img src="/images/provider-icons/icon-node.js.png" height="24" width="22">Twitter</a>
                  </ul>
                  <a>Create New Service</a>
                </div>
                <div class="col-sm-12">
                  <a>Select Existing Service</a>
                  <input class="form-control" placeholder="Service Name" autofocus>
                  <button type="button" class="orange">Next</button>
                </div>
              </div>
            </form>
        {{else}}{{#if_eq step compare=2}}{{!   --STEP2--   }}
          {{#if_result specification method="allowEdit"}}
            <h4>Add Service Keys <a href="javascript:void(0);" class="keys-popover">(?)</a></h4>
            <form class="add-key-form" role="form">
              <div class="added-keys">
                {{#each specification.attributes.requirements}}
                <div class="form-group">
                  <input class="form-control key-input inline-block" value="{{.}}" disabled="disabled">
                  <a href="javascript:void(0)" class="col-sm-2 remove-key glyphicon glyphicon-remove"></a>
                </div>
                {{/each}}
              </div>
              <div class="form-group">
                <input class="form-control key-input" name="new-key" placeholder="New Key Name">
                <button class="silver col-sm-2 inline-block add-key">Add</button>
                <div class="clear"></div>
              </div>
            </form>
            <form class="step2">
              <button type="button" class="purple col-sm-3 prev">Previous</button>
              <button class="orange col-sm-9">Next</button>
              <div class="clear"></div>
            </form>
          {{else}}{{! Existing }}
            <h4>Keys <a href="javascript:void(0);" class="keys-popover">(?)</a></h4>
            <form role="form">
              {{#each specification.attributes.requirements}}
              <div class="form-group">
                <input class="form-control col-sm-12" value="{{.}}" disabled="disabled">
              </div>
              {{/each}}
              <button type="button" class="purple col-sm-3 prev">Previous</button>
              <button type="button" class="orange col-sm-9 next">Next</button>
              <div class="clear"></div>
            </form>
          {{/if_result}}
        {{else}}{{#if_eq step compare=3}}{{!   --STEP3--    }}
          {{#if_result specification method="allowEdit"}}
            <ul class="nav nav-pills">
              <li{{#unless previewInstructions}} class="active"{{/unless}}><a href="javascript:void(0);">Edit Service Instructions (markdown)</a></li>
              <li{{#if previewInstructions}} class="active"{{/if}}><a href="javascript:void(0);">Preview</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane{{#unless previewInstructions}} active in{{/unless}}">
                <form class="step3">
                  <textarea class="instructions form-control" rows="5">{{specification.attributes.instructions}}</textarea>
                  <button type="button" class="purple col-sm-3 prev">Previous</button>
                  <button class="orange col-sm-9">Create and Add</button>
                  <div class="clear"></div>
                </form>
              </div>
              <div class="tab-pane{{#if previewInstructions}} active in{{/if}}">
                <div class="instr-preview">{{{rendered}}}</div>
              </div>
            </div>
          {{else}}{{! Existing }}
            <h4>Service Instructions</h4>
            <div class="instr-preview">{{{rendered}}}</div>
            <button type="button" class="purple col-sm-3 prev">Previous</button>
            <button type="button" class="orange col-sm-9 add-service">Add</button>
            <div class="clear"></div>
          {{/if_result}}
        {{/if_eq}}{{/if_eq}}{{/if_eq}}
      </div>
    </div>
  </div>
</div>